* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ThaleahFat';
    src: url(../font/ThaleahFat.ttf) format(truetype);
    font-style: normal;
}

body {
    background-color: rgb(241, 184, 110);
    font-family: 'ThaleahFat', sans-serif;
    font-size: 48px;
    color: rgb(247, 130, 52);
    text-shadow: 2px 3px red;
}

main {
    margin: 50px auto;
    height: 700px;
    max-height: 100vh;
    width: 1049px;
    background-color: rgba(8, 15, 116, 0.836);
    background-image: url("images/battle_background.png");
    background-repeat: no-repeat;
    font-family: 'ThaleahFat', sans-serif;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.425);
}

#container {
    height: inherit;
    width: inherit;
    position: absolute;
}

#player_section, #computer_section {
    height: 38.5%;
}

section img {
    position: absolute;
}

#computer_section .pokemon_img {
    right: 0;
    margin-top: 4em;
    margin-right: 6em;
}

#player_section .pokemon_img {
    left: 0;
    margin-top: 1.3em;
    margin-left: 6.3em;
}

.hp_img {
    height: 110px;
}

#computer_section .hp_img {
    right: 0;
    margin-top: 2.2em;
    margin-right: 1.5em;

}

#player_section .hp_img {
    left: 0;
    margin-top: -0.8em;
    margin-left: 1.5em;
}

#dialog-section {
    display: flex;
    height: 22%;
}

#dialog_div, #buttons_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.text_hp {
    position: absolute;
    z-index: 2;
    font-size: 28px;
    text-shadow: none;
    color: #ff5100;
}

#text_hp_computer {
    right: 0;
    margin-top: 4.8em;
    margin-right: 3.4em;
}

#text_hp_player {
    left: 0;
    margin-top: -0.4em;
    margin-left: 4em;
}

#dialog_parag {
    text-align: center;
    margin-left: 1em;
}

input[type=submit] {
    height: 80px;
    width: 190px;
    font-family: 'ThaleahFat', sans-serif;
    font-size: 28px;
    border-radius: 20px;
    border-color: #ff5100;
    border-width: 5px;
    background-color: #ed8e61;
    color: white;
    text-shadow: 2px 2px red;
}
