<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='battle.css') }}">
    <title>CHARACTER SELECTION</title>
</head>
<body>
    <div id="cards_box">
        <div id="charmander" class="poke_box">
            <div class="div_img">
                <img src="{{ url_for('static', filename='images/charmander_front.gif') }}" alt="">
            </div>
            <div class="div_poke_name">
                <p>charmander</p>
            </div>
            <form action="/" method="POST">
                <div class="div_choose_btn">
                    <input type="submit" name="charmander" value="choose" class="choose_btn">
                </div>
            </form>
        </div>

        <div id="bulbasaur" class="poke_box">
            <div class="div_img">
                <img src="{{ url_for('static', filename='images/bulbasaur_front.gif') }}" alt="">
            </div>
            <div class="div_poke_name">
                <p>Bulbasaur</p>
            </div>
            <form action="/" method="POST">
                <div class="div_choose_btn">
                    <input type="submit" name="bulbasaur" value="choose" class="choose_btn">
                </div>
            </form>
        </div>

        <div id="squirtle" class="poke_box">
            <div class="div_img">
                <img src="{{ url_for('static', filename='images/squirtle_front.gif') }}" alt="">
            </div>
            <div class="div_poke_name">
                <p>squirtle</p>
            </div>
            <form action="/" method="POST">
                <div class="div_choose_btn">
                    <input type="submit" name="squirtle" value="choose" class="choose_btn">
                </div>
            </form>
        </div>
    </div>
    <main>
        
    </main>

</body>
</html>