<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POKEMON BATTLE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <p>Player: {{ player.name }} - HP: {{ player.life }}</p>
    <p>Computer: {{ computer.name }} - HP: {{ computer.life }}</p>
    <main>
        <div id="container">
            <section id="computer_section">
                <img src="{{ url_for('static', filename='images/pokemon-dialogue-box.png') }}" alt="" class="hp_img">
                <!-- <img src="{{ url_for('static', filename='images/bulb_back_rm.png') }}" alt="Squirtle" style="height: 200px" class="pokemon_img"> -->
                
                <img src="{{ url_for('static', filename='images/bulbasaur_front.gif') }}" alt="Bulbasaur" style="height: 100px" class="pokemon_img">
            </section>
            <section id="player_section">
                <img src="{{ url_for('static', filename='images/pokemon-dialogue-box.png') }}" alt="" class="hp_img">
                <!-- <img src="{{ url_for('static', filename='images/bulb_back_rm.png') }}" alt="Squirtle" style="height: 200px" class="pokemon_img"> -->

                <img src="{{ url_for('static', filename='images/charmander_back.gif') }}" alt="Squirtle" style="height: 100px" class="pokemon_img">
            </section>
            <section id="dialog-section">
                <div id="dialog_div">
                    <h1>DIALOG</h1>
                </div>
                <div id="buttons_div">
                    <form action="/" method="POST">
                        {% for attack in player.type_attacks%}
                        <input type="submit" value="{{ attack }}" name="attack_btn">
                        {% endfor %}
                    </form>
                </div>
            </section>
        </div>  
    </main>
</body>
</html>