<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POKEMON BATTLE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main>
        <div id="container">
            <section id="computer_section">
                <p id="text_hp_computer" class="text_hp">Computer: {{ computer.name }} <br> HP: {{ computer.life }}</p>
                <img src="{{ url_for('static', filename='images/pokemon-dialogue-box.png') }}" alt="" class="hp_img">

                {% if computer.name == "bulbasaur" %}
                    <img src="{{ url_for('static', filename='images/bulbasaur_front.gif') }}" alt="Bulbasaur" style="height: 100px" class="pokemon_img">
                {% elif computer.name == "charmander" %}
                    <img src="{{ url_for('static', filename='images/charmander_front.gif') }}" alt="Bulbasaur" style="height: 100px" class="pokemon_img">
                {% elif computer.name == "squirtle" %}
                    <img src="{{ url_for('static', filename='images/squirtle_front.gif') }}" alt="Bulbasaur" style="height: 100px" class="pokemon_img">            
                {% endif %}
                
            </section>
            <section id="player_section">
                <p id="text_hp_player"  class="text_hp">Player: {{ player.name }} <br> HP: {{ player.life }}</p>
                <img src="{{ url_for('static', filename='images/pokemon-dialogue-box.png') }}" alt="" class="hp_img">

                {% if player.name == "bulbasaur" %}
                    <img src="{{ url_for('static', filename='images/bulbasaur_back.gif') }}" alt="Bulbasaur" style="height: 100px" class="pokemon_img">
                {% elif player.name == "charmander" %}
                    <img src="{{ url_for('static', filename='images/charmander_back.gif') }}" alt="Bulbasaur" style="height: 100px" class="pokemon_img">
                {% elif player.name == "squirtle" %}
                    <img src="{{ url_for('static', filename='images/squirtle_back.gif') }}" alt="Bulbasaur" style="height: 100px" class="pokemon_img">            
                {% endif %}

            </section>
            <section id="dialog-section">
                <div id="dialog_div">
                    <p id="dialog_parag"></p>
                </div>
                <div id="buttons_div">
                    <form action="/" method="POST">
                        {% for attack in player.type_attacks%}
                        <input type="submit" value="{{ attack }}" name="attack_btn">
                        {% endfor %}
                    </form>
                </div>
            </section>
        </div>  
    </main>
    <script>
        var dialog_parag = document.getElementById("dialog_parag");
        var array = '{{ dialog }}';
        array = array.replace(/&#39;/gi, "");
        array = array.replace("[", "");
        array = array.replace("]", "");
        dialog_array = array.split(',')
                
        function print_dialog(counter) {
            setTimeout(() => { 
                dialog_parag.innerHTML = dialog_array[counter];
                counter++;
                if (counter < dialog_array.length) {    
                    print_dialog(counter); 
                }  
            }, 2000);
        }
        print_dialog(0);
    </script>
</body>
</html>3