<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POKEMON BATTLE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main>
        <section id="computer_section">
            <img src="{{ url_for('static', filename='images/pokemon-dialogue-box.png') }}" alt="" class="dialog_img">
            <img src="https://img.pokemondb.net/sprites/black-white/anim/normal/bulbasaur.gif" alt="Bulbasaur" style="height: 100px" class="pokemon_img">
        </section>
        <section id="player_section">
            <img src="{{ url_for('static', filename='images/pokemon-dialogue-box.png') }}" alt="" class="dialog_img">
            <img src="https://img.pokemondb.net/sprites/black-white/anim/back-normal/squirtle.gif" alt="Squirtle" style="height: 100px" class="pokemon_img">
        </section>  
    </main>
    <footer>
        <img src="https://img.pokemondb.net/sprites/black-white/anim/normal/bulbasaur.gif" alt="Bulbasaur" style="height: 100px">
        <img src="https://img.pokemondb.net/sprites/black-white/anim/back-normal/bulbasaur.gif" alt="Bulbasaur" style="height: 100px">

        <img src="https://img.pokemondb.net/sprites/black-white/anim/normal/squirtle.gif" alt="Squirtle" style="height: 100px">
        <img src="https://img.pokemondb.net/sprites/black-white/anim/back-normal/squirtle.gif" alt="Squirtle" style="height: 100px">

        <img src="https://img.pokemondb.net/sprites/black-white/anim/normal/charmander.gif" alt="Charmander" style="height: 100px">
        <img src="https://img.pokemondb.net/sprites/black-white/anim/back-normal/charmander.gif" alt="Charmander" style="height: 100px">
    </footer>
</body>
</html>